.Input {
    font: inherit;
    border: none;
    background-color: var(--theme-color-input);
    color: var(--theme-color-on-input);
    display: grid;
    place-items: center;
    padding: 0 0.5em;
    width: 100%;
}

input.Input::-webkit-outer-spin-button,
input.Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.Input[type="number"] {
    appearance: textfield;
}
